@import "../../core/css/brand.css";

.card {
  transition: transform 0.3s ease;
  border-radius: var(--border-radius-lg);
}

.card:focus {
  transform: translateY(-5px);
  box-shadow: 0 0 0px 2px var(--bg-layout), 0 0 0px 5px var(--color-crimson);
  outline: 0;
}

.card__image {
  border-radius: inherit;
  margin-bottom: 0.5rem;
}

.card__title {
  font-size: 0.8rem;
}
