@import "./../core/css/brand.css";

/* ==========================================================================
   About section and jumbotron overrides
   ========================================================================== */
.about .jumbotron {
  background-color: var(--color-white-lilac);
}

.about .jumbotron__subtitle {
  font-size: 1.8rem;
  text-transform: uppercase;
}

/* ==========================================================================
   Japanese text in header title
   ========================================================================== */

.about__san {
  font-family: monospace;
}

/* ==========================================================================
   About section and content
   ========================================================================== */

.about-section {
  display: flex;
  justify-content: space-between;
}

.about-section__author {
  flex: 1;
}

.about-section__line-through {
  text-decoration: line-through;
}


/* ==========================================================================
   About thumbnail
   ========================================================================== */

.about-section__thumbnail {
  background-image: url("../images/kalpesh_singh_transparent.png"),
    url("../images/capsule_hotel_background.jpg");
  display: block;
  height: 200px;
  width: 200px;
  background-size: cover;
  background-position: 40px, center;
  border-radius: 50%;
  position: relative;
  border: solid 5px hsl(0, 0%, 100%);
  transition: background-position 200ms ease;
}

.about-section__thumbnail:hover {
  background-position: top center, center;
}

.about-section__thumbnail::after {
  content: " ";
  display: block;
  width: 200px;
  height: 200px;
  background-color: #fbf1f1;
  border-radius: 50%;
  position: absolute;
  right: -20px;
  z-index: -1;
}
