.cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-gap: 1.5rem;
  margin-bottom: 3rem;
  height: 10rem;
}

.cards.cards--experiences {
  grid-template-columns: repeat(4, minmax(200px, 1fr));
}

.cards .card {
  display: flex;
  flex-direction: column;
  height: inherit;
}

.cards .card__image {
  height: 150px;
  object-fit: cover;
}

.homepage__section-title {
  margin-bottom: 1rem;
}

.homepage__section-highlights {
  columns: 2;
  column-gap: 4rem;
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 3rem;
  padding: 1rem;
  transition: background-color 200ms ease;
}

.homepage__section-highlights:hover {
  background-color: hsl(185, 22%, 91%);
}
