@import "./../../core/css/brand.css";

.page-container {
  display: grid;
  grid-template-columns: 25% 1fr;
  grid-gap: 1rem;
}

.page-container__left,
.page-container__right {
  padding: 1rem;
}

.page-container__left {
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  border-radius: var(--border-radius-sm);
}

.page-container__left {
  background-color: var(--color-link-water);
  align-self: flex-start;
}

.page-container__ts {
  font-size: 0.8rem;
}

.page-container__heading {
  margin-bottom: 1rem;
}

.page-container__left-list-title {
  margin-bottom: 0.7rem;
}

.page-container__left-list {
  font-size: 0.8rem;
  list-style-type: none;
  margin-left: 0;
}
.page-container__left-list > li {
  margin-bottom: 0;
}

.page-container__photo {
  margin-bottom: 2rem;
}

.page-container__photo > figcaption {
  font-size: 0.8rem;
  color: var(--color-secondary);
}

.page-container__right p:first-of-type::first-letter {
  color: var(--color-crimson);
  font-size: 2rem;
}
