@import "./../../core/css/brand.css";
/* ==========================================================================
   Header and Misc.
   ========================================================================== */

.header {
  text-align: center;
}

.header a {
  color: hsl(0, 0%, 20%);
}

/* ==========================================================================
   Header title
   ========================================================================== */

.header__title {
  font-weight: normal;
  margin-bottom: 0.5rem;
  letter-spacing: 3px;
  transition: letter-spacing 0.7s ease;
  transition-delay: 0.5s;
}

.header__title:hover {
  letter-spacing: 0;
}

.header__title::before {
  content: "⤜";
}

.header__title::after {
  content: "⤛";
}

.header__title:hover::before {
  display: inline-block;
  animation: arrow-left 1s;
}

.header__title:hover::after {
  display: inline-block;
  animation: arrow-right 1s;
}

/* ==========================================================================
   Header subtitle
   ========================================================================== */

.header__subtitle {
  font-family: monospace;
  font-size: 1.2rem;
  margin-bottom: 4rem;
  color: var(--color-secondary);
}

/* ==========================================================================
   Header navbar
   ========================================================================== */

.header__navbar {
  font-size: 0.85rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.header__navbar__left
  > .header__navbar__link:not(:first-child):not(:last-child) {
  margin: 0 2em;
}

.header__navbar__link:focus {
  font-weight: 600;
}

.header__navbar__link--active {
  font-weight: bold;
  border-bottom: solid 3px var(--color-crimson);
  padding-bottom: 2px;
}

/* ==========================================================================
   Header title animation
   ========================================================================== */
@keyframes arrow-left {
  from {
    transform: translateX(-10px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes arrow-right {
  from {
    transform: translateX(10px);
  }
  to {
    transform: translateX(0);
  }
}
