/* ==========================================================================
   Global
   ========================================================================== */

:root {
  --border-radius-sm: 4px;
  --border-radius-lg: 15px;
}

/* ==========================================================================
   Color Schemes
   ========================================================================== */
:root {
  --color-tan-hide: hsl(15, 93%, 68%);
  --color-white-linen: hsl(36, 56%, 96%);
  --color-white-lilac: hsl(246, 56%, 96%);
  --color-link-water: hsl(204, 56%, 96%);
}
