/* ==========================================================================
   Global
   ========================================================================== */

:root {
  --border-radius-sm: 4px;
  --border-radius-lg: 15px;
}

/* ==========================================================================
   Color Schemes
   ========================================================================== */
:root {
  --bg-layout: hsl(36, 56%, 96%);
  --color-crimson: hsl(348, 71%, 47%);
  --color-green-white: hsl(90, 22%, 91%);
  --color-athens-grey: hsl(246, 22%, 91%);
  --color-link-water: hsl(204, 22%, 91%);
  --color-secondary: hsl(0, 0%, 35%);
}
